PORT=3000
NODE_ENV=development
GLOBAL_PREFIX=api
CORS_ORIGINS=http://localhost:5173,http://localhost:4200

# Microsoft Entra ID (Panel Admin)
ENTRA_TENANT_ID=936612c7-66b8-41ba-a9dd-83f50365f818
ENTRA_API_CLIENT_ID=528af346-c37c-40a0-9f7e-30162de3c027
ENTRA_ISSUER=https://login.microsoftonline.com/936612c7-66b8-41ba-a9dd-83f50365f818/v2.0
ENTRA_JWKS_URI=https://login.microsoftonline.com/936612c7-66b8-41ba-a9dd-83f50365f818/discovery/v2.0/keys

# AWS Cognito (Portal Residentes)
COGNITO_USER_POOL_ID=us-east-1_jmLnvOaUx
COGNITO_APP_CLIENT_ID=597noe991s5ebj8ab2blpvkjm0
COGNITO_REGION=us-east-1
COGNITO_ISSUER=https://cognito-idp.us-east-1.amazonaws.com/us-east-1_jmLnvOaUx
COGNITO_JWKS_URI=https://cognito-idp.us-east-1.amazonaws.com/us-east-1_jmLnvOaUx/.well-known/jwks.json

# Microservicios Downstream
ESPACIOS_COMUNES_URL=http://localhost:8082
GASTOS_COMUNES_URL=http://localhost:8081
PROXY_TIMEOUT_MS=10000

# RabbitMQ (Opcional)
RABBITMQ_ENABLED=false
RABBITMQ_URLS=amqp://localhost:5672
RABBITMQ_EXCHANGE=convivo
